@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Londrina Solid', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html, body {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100vh;
    background-color: #974343;
    background-image: url('../assets/bg-jokenpo.png');
    background-repeat: no-repeat;
    background-position: center;
    color: #974343;
}

.lobby-container {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    text-align: center;
    background: #f9e5aa;
    border-radius: 30px;
    box-shadow: 10px 10px;
}

.game-container {
    width: 80vw;
    height: 80vh;
    margin: 0;
    text-align: center;
    background: #f9e5aa;
    border-radius: 30px;
    box-shadow: 10px 10px;
}

.title {
    margin-top: 16%;
    margin-bottom: 10%;
}

.msg {
    font-size: 24px;
}

.game-msg, .game-round {
    padding-top: 24px;
    padding-bottom: 24px;
}

.game-round {
    padding-top: 24px;
    padding-bottom: 12px;
}

.scoreboard {
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 24px;
}

.input-name {
    width: 90%;
    height: 30px;
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 10%;
    border: none;
    box-shadow: 2px 2px #974343;
    font-size: 20px;
}

.play-button {
    width: 50%;
    height: 40px;
    cursor: pointer;
    background-color: #F1BAF5;
    border: none;
    border-radius: 15px;
    box-shadow: 2px 2px #974343;
    font-size: 20px;
}

.next-round-button {
    width: 50%;
    height: 40px;
    cursor: pointer;
    background-color: #00E1D4;
    border: none;
    box-shadow: 2px 2px #974343;
    font-size: 20px;
}

.play-button:hover {
    box-shadow: 0 0;
    margin: 2px -2px -2px 2px;
    transition: all .2s ease;
}

.next-round-button:hover {
    box-shadow: 0 0;
    margin-top: 1px;
    margin-left: 2px;
    transition: all .2s ease;
}

.img-jokenpo {
    width: 100px;
    height: 100px;
}

.board {
    margin-top: 36px;
}

.game-historic {
    margin: 12px;
}